<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Index
    </super-navbar-title>
  </super-navbar>

  <canvas></canvas>
  <script>
    // http://paulirish.com/2011/requestanimationframe-for-smart-animating
    // shim layer with setTimeout fallback
    window.requestAnimFrame = (function(){
      return  window.requestAnimationFrame       || 
              window.webkitRequestAnimationFrame || 
              window.mozRequestAnimationFrame    || 
              window.oRequestAnimationFrame      || 
              window.msRequestAnimationFrame     || 
              function( callback ){
                window.setTimeout(callback, 1000 / 60);
              };
    })();

    var IckyPicky = {

	    // set up some initial values
	    WIDTH: 320, 
	    HEIGHT:  480, 
	    // we'll set the rest of these
	    // in the init function
	    RATIO:  null,
	    currentWidth:  null,
	    currentHeight:  null,
	    canvas: null,
	    ctx:  null,
      facePos: 10,
      faceRate: 1,
      fingerImg: new Image,

	    init: function() {

        // the proportion of width to height
        IckyPicky.RATIO = IckyPicky.WIDTH / IckyPicky.HEIGHT;
        // these will change when the screen is resized
        IckyPicky.currentWidth = IckyPicky.WIDTH;
        IckyPicky.currentHeight = IckyPicky.HEIGHT;
        // this is our canvas element
        IckyPicky.canvas = document.getElementsByTagName('canvas')[0];
        // setting this is important
        // otherwise the browser will
        // default to 320 x 200
        IckyPicky.canvas.width = IckyPicky.WIDTH;
        IckyPicky.canvas.height = IckyPicky.HEIGHT;
        // the canvas context enables us to 
        // interact with the canvas api
        IckyPicky.ctx = IckyPicky.canvas.getContext('2d');

        // load images
        IckyPicky.fingerImg.onload = function() {
          IckyPicky.loop();
        }
        IckyPicky.fingerImg.src = '/images/finger.png';

        // we're ready to resize
        IckyPicky.resize();

        // it will then repeat continuously
        //IckyPicky.loop();
	    },

      // this is where all entities will be moved
      // and checked for collisions, etc.
      update: function() {
        if (IckyPicky.facePos < 2 || IckyPicky.facePos > IckyPicky.WIDTH - 1) {
          IckyPicky.faceRate = IckyPicky.faceRate * -1;
        }
        IckyPicky.facePos += IckyPicky.faceRate;
      },

      // this is where we draw all the entities
      render: function() {
        IckyPicky.Draw.clear();
        IckyPicky.Draw.rect(0,IckyPicky.HEIGHT-45,IckyPicky.WIDTH,45, 'green');
        //IckyPicky.Draw.circle(IckyPicky.facePos, 100, 50, 'rgba(255,0,0,0.5)');
        IckyPicky.ctx.drawImage(IckyPicky.fingerImg, IckyPicky.facePos, 100,150,250);
        IckyPicky.ctx.drawImage(IckyPicky.fingerImg, IckyPicky.WIDTH-205, IckyPicky.HEIGHT-80, 70, 150);
        //IckyPicky.Draw.text('Hello World', 100, 100, 10, '#000');
        //IckyPicky.Draw.circle(IckyPicky.Width/2, IckyPicky.HEIGHT/2, 100, 'red');
      },

      // the actual loop
      // requests animation frame,
      // then proceeds to update
      // and render
      loop: function() {

          requestAnimFrame( IckyPicky.loop );

          IckyPicky.update();
          IckyPicky.render();
      },

	    resize: function() {

        IckyPicky.currentHeight = window.innerHeight;
        // resize the width in proportion
        // to the new height
        IckyPicky.currentWidth = IckyPicky.currentHeight * IckyPicky.RATIO;

        // this will create some extra space on the
        // page, allowing us to scroll past
        // the address bar, thus hiding it.
        if (IckyPicky.android || IckyPicky.ios) {
          //document.body.style.height = (window.innerHeight + 50) + 'px';
        }

        // set the new canvas style width and height
        // note: our canvas is still 320 x 480, but
        // we're essentially scaling it with CSS
        IckyPicky.canvas.style.width = IckyPicky.currentWidth + 'px';
        IckyPicky.canvas.style.height = IckyPicky.currentHeight + 'px';

        // we use a timeout here because some mobile
        // browsers don't fire if there is not
        // a short delay
        window.setTimeout(function() {
          window.scrollTo(0,1);
        }, 1);
	    }
    };

  	window.addEventListener('load', IckyPicky.init, false);
  	window.addEventListener('resize', IckyPicky.resize, false);

  	// we need to sniff out Android and iOS
  	// so that we can hide the address bar in
  	// our resize function
  	IckyPicky.ua = navigator.userAgent.toLowerCase();
  	IckyPicky.android = IckyPicky.ua.indexOf('android') > -1 ? true : false;
  	IckyPicky.ios = ( IckyPicky.ua.indexOf('iphone') > -1 || IckyPicky.ua.indexOf('ipad') > -1  ) ? 
  	    true : false;

  	// abstracts various canvas operations into
  	// standalone functions
  	IckyPicky.Draw = {

	    clear: function() {
        IckyPicky.ctx.clearRect(0, 0, IckyPicky.WIDTH, IckyPicky.HEIGHT);
	    },

	    rect: function(x, y, w, h, col) {
        IckyPicky.ctx.fillStyle = col;
        IckyPicky.ctx.fillRect(x, y, w, h);
	    },

	    circle: function(x, y, r, col) {
        IckyPicky.ctx.fillStyle = col;
        IckyPicky.ctx.beginPath();
        IckyPicky.ctx.arc(x + 5, y + 5, r, 0,  Math.PI * 2, true);
        IckyPicky.ctx.closePath();
        IckyPicky.ctx.fill();
	    },

	    text: function(string, x, y, size, col) {
        IckyPicky.ctx.font = 'bold '+size+'px Monospace';
        IckyPicky.ctx.fillStyle = col;
        IckyPicky.ctx.fillText(string, x, y);
	    }
	};

//steroids.view.setBackgroundImage("/img/space-background.png");

</script>

</div>