<super-navbar>
  <super-navbar-title>
    Home
  </super-navbar-title>
</super-navbar>

<div class = "landingPage">
  <div class = "welcome">
  	<img src = "/images/landingpage_logo.png" class = "logo"/>
    <div class="info">
      * Developed by Team Yellow for 394 *
    </div>
	</div>

  <super-navigate view-id = "Yellow#game" class="startbutton">
	  <button class = "button" id = "startgame"> 
  		<img src = "/images/start.png" class="startimg"/>
      <img src = "/images/nose.png" class = "startnose"/>        
  	</button>
  </super-navigate>

  <super-navigate view-id = "Yellow#NosePos" class="startbutton">
    <button class = "button" id = "uploadpic"> 
      <img src = "/images/upload.png" class="uploadimg"/>  
    </button>
  </super-navigate>

</div>